@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


body{
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
     
    
}
.orange{
    color: #E6533C;
}

.nav{
    display: flex;
    justify-content: space-between;
}
.nav > .fitness{
    
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
    margin-left: 3rem;
}
.nav-opt > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-right: 5rem;
    border: 1px solid #222222;
    border-radius: 1.8rem;
    padding: 10px;
}
.nav > .nav-opt > ul > li{
    list-style: none;
    
    padding-right: 2rem;
   
}

#home{
        background-color: #E6533C;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: 600;
    }
    .hamburger{
        display: none;
    }

    /* banner-part */

    .banner{
        display: flex;
        justify-content: space-between;
    }

    .banner-content > h1{
        font-size: 2.5rem;
        font-weight: 900;
        margin-left: 3rem;
       
    }
    .banner-content > p{
        opacity: 50%;
        margin-left: 3rem;
      /* margin-bottom: 2rem; */
    }
/* .banner-content > h1 
  .banner-content > p
   .ban-buttons*/
    #shape{
        font-family: 'Miama', sans-serif;
        font-weight: 800;
        font-size: 2.5rem;
    }
    .ban-buttons{
        display: flex;
        margin-left: 3rem;
    }

   


    .join-button
    {
        background-color: #E6533C;
        color:white;
        border: none;
        padding: 1rem 3rem;
        border-radius: 2.5rem;
        font-size: 1rem;
        font-weight:600;
        margin-right: 30px;
    }
    
    .download-button{
        background-color: black;
        color:white;
        border: 1px solid white;
        padding: 1rem 3rem;
        border-radius: 2.5rem;
        font-size: 1rem;
        font-weight:600;
        /* margin-left: 1rem; */
    
    
    }
    .banner-img{
        position: relative;
      margin-right: 3rem;
    }

    .vdo-tutorial
    {
        background-color: rgba(48, 48, 48,0.5);
        backdrop-filter: blur(20px);
        color: white;
        width: 12rem;
        text-align: center;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-top: -10rem;
        margin-left: -7rem;
        position: absolute;
    }

    
.circle{
    width:2rem;
   height: 2rem;
   background-color: #E6533C;
   border-radius: 50%;
   
  
}
.plus{
   font-size: 1.5rem;
   font-weight: 700;
   margin-bottom: -1rem;

}
.vdo{
   color: white;
   opacity: 50%;
   font-size: 0.9rem;

    
}
.workout{
    background-color: rgba(48, 48, 48,0.5);
    backdrop-filter: blur(20px);
    color: white;
    width: 10rem;
    text-align: center;
    border-radius: 0.75rem;
    position: absolute;
    top: 10rem;
    right: .3rem; 
}
.fiveplus{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: -1rem;
    margin-top: 0.5rem;
   
   
}
.workout-vdos{
    color: white;
    opacity: 50%;
    font-size: 0.9rem;

}
/* section change habit */

.cng-habit-description{
   text-align: center;
    
}
.cng-habit-description > h3 {
    color:White;
    font-size: 3rem;
    font-weight: 700;
    margin-left: 2.5rem;

}
.cng-habit-description > p {
    color: white;
    opacity: 50%;
    font-size: 0.8rem;
    margin-top: -3rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
}
.habits{
    display: flex;
    justify-content: space-evenly;
    margin-left: 3.75rem;
}

.hab-head{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}
.hab-des {
    color: white;
    opacity: 50%;
    font-size: 0.8rem;
    margin-top: -1rem;
    text-align: center;
}

/* section run extra */

.run-extra{
    background-color: #222222;
   
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 120px;
    
    padding: 30px;
    border-radius: 25px;
}

.run-extra-description > h2 {
    font-size: 3rem;
    font-weight: 900;

}
.run-extra-description > p {
    font-size: 0.8rem;
    color: white;
    opacity: 50%;
    margin-top: -1rem;
}
.join-button2{
    background-color: #E6533C;
    color:white;
    border: none;
    padding: 15px 70px;
    border-radius: 2.5rem;
    font-size: 1rem;
    font-weight:600;
}
.run-img{
    width: 350px;
    height: 300px;
    border-radius: 5%;
}
/* unique part */


.unique-content{
    border: 1px solid grey;
    display: grid;
       grid-template-columns: repeat(3,1fr);
      
      gap: 10px;
      padding: 20px;
      
      border-radius: 0.8rem;
      margin: 2rem;
      /* margin-left: 0.8rem; */
      
}


.content1 > h3 , .content2 > h3 , .content3 > h3 {

    
    font-size: 1rem;
    font-weight: 700;
    
    /* margin-bottom: 2rem;  */
    /* padding-left: 0.5rem;  */
}
.content1 > p , .content2 > p , .content3 > p {

    font-size: 0.8rem;
    /* color: white; */
    opacity: 50%;
    margin-top: -1rem;
    margin-bottom: 2rem;
    
}
.unique-img{
    width: 100% ;
    height: 18rem;
    border-radius: 0.3rem;
    margin-right: 2rem;

}

/* section meet our team */


.meet-team {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team{
    background-color: #222222;
    
      display: grid;
      gap: 10px;
      grid-template-areas: 
      "team1 team2 team3"
      "team4 team5 team6";
      padding: 20px;
      border-radius: 1rem;
      
}
.team-description > h2 , .unique-head > h2 {
    font-size: 3rem ;
    font-weight: 700;
    text-align: center;

}

.team-description > p , .unique-head > p {
    font-size: 0.8rem;
    color: white;
    opacity: 50%;
    margin-top: -2rem;
    text-align: center;

}
.trainer-img {
    width: 16rem ;
    height: 13rem;
    border-radius: 0.3rem;
   
}
.trainer-head{

    font-size: 1rem;
    font-weight: 700;
    margin-top: -3rem;
    padding-left: 0.5rem;
}

.trainer-des{
    font-size: 0.8rem;
    color: white;
    opacity: 50%;
    margin-top: -1.4rem;
    padding-left: 0.5rem;
}

/* challenge part-BMI */

/* bmi heading */

/* .bmi-heading{
    margin-left: 25rem;
     */


.bmi-heading > h2 {
    font-size: 2rem ;
    font-weight: 800 ;
    margin-left: 30px;

}

.bmi-heading > p {
    font-size: 0.8rem;
    opacity: 50%;
    margin-left: 30px;
    margin-top: -20px;

}

/* bmi box */

.bmi-box{
    background-color: #222222;
    /* height: 460px; */
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap:150px;
}
/* chart */

.chart{
    border: 2px solid grey;
    border-collapse: collapse;
    margin-bottom: 100px;
    /* margin-left: 35px; */
    
}

.chart-h2{
    font-size: 2rem;
    font-weight: 800;
    padding-top: 2rem;
    /* margin-left: 20px; */
   
}

.th{
    font-size: 1rem;
    font-weight: 400;
    
}
.th > th{
    padding: 1rem 2rem;
    border: 1px solid grey;
}
.tr{
    opacity: 50%;
    font-size: 0.8;
   
    }
.tr > td{
    padding: 1rem 2rem;
   border: 1px solid grey;
}

/* form */
.form-h2{
    font-size: 2rem;
    font-weight: 800;
    /* margin-left: 100px; */
    padding-top: 2rem;}

.form-p{
    opacity: 0.5;
    font-size: 0.8rem;
    margin-top: -1rem;
    margin-bottom:2rem;
}

input[type="text"]{
   
    font-family: "Inter", sans-serif;
    background-color:rgba(255, 255, 255, 0.1);
    color: white;
    margin-bottom: 25px;
    height: 3rem;
    width: 17.5rem;
    padding-left: 1.2rem;
    /* border: 2px solid red; */
    border-radius: 0.8rem;
    border: none;

}
.form{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}

#sel{
        grid-column: span 2;
        width: 605px;
    }


/* footer */

.footer{
    background-color: #222222;
    margin-top: 4rem;
    
    /* width: 100%; */
}
.footer-pt1{
    /* display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 60px;
    margin-bottom: 40px; */
   
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px; 
}
.foot-fit{
    font-size: 4rem;
    font-weight: 800;
    font-style: italic;
}
.fit-des{
    font-size: 0.8rem;
    color: white;
    opacity: 50%;
    margin-top: -0.8rem;
}

.start-head{
    font-size: 1.75rem;
    font-weight: 600;
    
   
}

.pt1-getstart1 > ul > li , .pt1-getstart2 > ul > li {
    list-style: none;
    color: white;
    opacity: 50%;
    margin-top: 20px;
    
}

.footer-pt2{
    border-top: 0.2px solid rgba(255, 255, 255, 85%);
   margin-left: 11.5rem;
   margin-right: 11.5rem;
    /* margin-top: 2.5rem; */
    text-align: center;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    color: white;
    opacity: 50%;
}


 

    /*responsive part  */
    @media screen and (max-width:576px){
         /* *{
            /* overflow-x: hidden; */
            /* box-sizing: border-box;
         } */ 
        
        /* responsive nav-bar */
        
    .nav-opt > ul{
        display:none;
    }
    .fitness{
        padding-left: 20px;
        padding-top: 50px;
    }
    .hamburger{
        display: initial;
        
        padding-right: 20px;
        padding-top: 50px;
    }
    /* banner-part */
        .banner{
            flex-direction: column;
            justify-content: center;
        align-items: center;
        width: 100%;
        
         margin-left: 1.5rem;
        margin-right: 1.5rem;

         }

         .banner-content > h1, 
         .banner-content > p,
         .ban-buttons {
            margin-left: 1.5rem;
            margin-right: 1.5rem; 
         }
        .workout{
            top: 2rem;
           
        }
        .vdo-tutorial{
            margin-top: -17rem;
            margin-left: -1em;
        }
        .join-button,
        .download-button{
            padding: 0.8rem 1.8rem;
        }

        /* change habits */
        .habits{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        /* run-extra */
        .run-extra{
            flex-direction: column;
            
            width: 70%;
            text-align: center;
            margin-left: 3.5rem;
           }
        .run-extra-description > h2 {
            font-size: 1.7rem;
            text-align: start;
            }
            .run-extra-description > p {
               
                text-align: start;
                }

        .join-button2{
            padding: 0.8rem 6rem;
        }
        .run-img{
            width: 300px;
            height: 210px;
            margin-top: 20px;
            border-radius: 5%;
        }
        
/* unique part done*/

.unique-content{
    
      grid-template-columns: repeat(1,1fr);
      /* margin: 1.5rem; */
      margin-left: 4.5rem;
        
}









        /* bmi */
        .bmi-heading{
            display: block;
            justify-content: flex-start;
        }

        .bmi-box{
            flex-direction: column;
            padding: 5%;
           
            
            
            
            
        }
     

        input[type="text"]{
   
            height: 2rem;
            width: 10rem;
            /* padding-left: 1.2rem; */
            border: none;
            border-radius: 0.5rem;
            padding: 8px;
            /* margin-left: 6rem; */
            margin-right: 0;
            /* border: 2px solid red; */
        
        }
        .form{

           /* grid-template-areas: 
            "cm kg"
            "age sex"
            "sel sel"; */
            /* gap: 5px; */

           
            width: 100%;
            display: initial;
            /* margin-right: 40px;
            padding-bottom: 40px; */

            
           
        }
        .bmi-form{
            width: 100%;
            margin-left: 30px;
            padding-left: 15px;
            padding-bottom: 30px;
            /* display: block;
            gap:2px */
        }
        #sel{
            
            grid-column: span 2;
            width: 21.25rem;
            
        }
           

        

        
            
        
        /* trainer */
        .team-description > h2 , .unique-head > h2 {
            font-size: 2rem;
        }
        .team-description > p , .unique-head > p {
            padding: 40px;
            margin-top: -60px;
        }
    
        .team{
            grid-template-areas: 
      "team1"
      "team2"
      "team3"
      "team4"
      "team5" 
      "team6";
      margin-left: 20px;
        }

   



 
        /* footer */
        .footer{
            width:100%;
            padding: 5%;
        }

        .footer-pt1{
            flex-direction: column;
            align-items: flex-start;
            margin-left: 20px;
        }  

        .footer-pt2{
            
            margin-left: 6rem;
            margin-right: 4rem;
            margin-top: 2.5rem;
           
            
        }
        


        



    }
        


    
    


