@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
body{
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    
}
.orange{
    color: #E6533C;
}

.nav{
    display: flex;
    justify-content: space-between;
}
.nav > .fitness{
    
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}
.nav-opt > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}
.nav > .nav-opt > ul > li{
    list-style: none;
   
}

#home{
        background-color: #E6533C;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: 600;
    }
    .hamburger{
        display: none;
    }


    /*responsive part  */
    @media screen and (max-width:576px){
    .nav-opt > ul{
        display:none;
    }
    .fitness{
        padding-left: 20px;
        padding-top: 50px;
    }
    .hamburger{
        display: initial;
        
        padding-right: 20px;
        padding-top: 50px;
    }
    
    }


