@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
body{
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    
}
.orange{
    color: #E6533C;
}

.nav{
    display: flex;
    justify-content: space-between;
}
.nav > .fitness{
    
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}
.nav-opt > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}
.nav > .nav-opt > ul > li{
    list-style: none;
   
}

#home{
        background-color: #E6533C;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: 600;
    }
    .hamburger{
        display: none;
    }

    /* banner-part */

    .banner{
        display: flex;
        justify-content: space-between;
    }

    .banner-content > h1{
        font-size: 2.5rem;
        font-weight: 900;
       
    }
    .banner-content > p{
        opacity: 50%;
      /* margin-bottom: 2rem; */
    }

    #shape{
        font-family: 'Miama', sans-serif;
        font-weight: 400;
        font-size: 8rem;
    }
    .ban-buttons{
        display: flex;
    }

   


    .join-button{
        background-color: #E6533C;
        color:white;
        border: none;
        padding: 1rem 1.5rem;
        border-radius: 2.5rem;
        font-size: 1rem;
        font-weight:600;
    }
    
    .download-button{
        background-color: black;
        color:white;
        border: 1px solid white;
        padding: 1rem 1.5rem;
        border-radius: 2.5rem;
        font-size: 1rem;
        font-weight:600;
        margin-left: 1rem;
    
    
    }
    .banner-img{
        position: relative;
      margin-right: 3rem;
    }

    .vdo-tutorial{
        background-color: rgba(48, 48, 48,0.5);
        backdrop-filter: blur(20px);
        color: white;
        width: 12rem;
        text-align: center;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-top: -10rem;
        margin-left: -7rem;
        position: absolute;
    }

    
.circle{
    width:2rem;
   height: 2rem;
   background-color: #E6533C;
   border-radius: 50%;
   
  
}
.plus{
   font-size: 1.5rem;
   font-weight: 700;
   margin-bottom: -1rem;

}
.vdo{
   color: white;
   opacity: 50%;
   font-size: 0.9rem;

    
}
.workout{
    background-color: rgba(48, 48, 48,0.5);
    backdrop-filter: blur(20px);
    color: white;
    width: 10rem;
    text-align: center;
    border-radius: 0.75rem;
    position: absolute;
    top: 10rem;
    right: .3rem;
    
    
  
}
.fiveplus{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: -1rem;
   
   
}
.workout-vdos{
    color: white;
    opacity: 50%;
    font-size: 0.9rem;

}
/* section change habit */

.cng-habit-description{
   text-align: center;
    
}
.cng-habit-description > h3 {
    color:White;
    font-size: 3rem;
    font-weight: 700;
}
.cng-habit-description > p {
    color: white;
    opacity: 50%;
    font-size: 0.8rem;
    margin-top: -3rem;
    margin-bottom: 2rem;
}
.habits{
    display: flex;
    justify-content: space-evenly;
}

.hab-head{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}
.hab-des {
    color: white;
    opacity: 50%;
    font-size: 0.8rem;
    margin-top: -1rem;
    text-align: center;
}











    /*responsive part  */
    @media screen and (max-width:576px){
        /* responsive nav-bar */
    .nav-opt > ul{
        display:none;
    }
    .fitness{
        padding-left: 20px;
        padding-top: 50px;
    }
    .hamburger{
        display: initial;
        
        padding-right: 20px;
        padding-top: 50px;
    }
    /* banner-part */
        .banner{
            flex-direction: column;
            justify-content: center;
        align-items: center;
        width: 100%;
        /* margin: 0 auto; */
        margin-left: 1.5rem;
        margin-right: 1.5rem;

         }
        .workout{
            top: 1rem;
           
        }
        .habits{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        


    
    }


